.logo {
  font-family: "Dr Sugiyama";
  margin: auto;
}

.profile-header {
 
  display: "inline-block";
  background-size: "cover";
  font-weight: "normal";
}

.profile-header-container{
  width: 100% !important;
  margin-left: 0 !important;
}

.profile-header-cover{
  height: 370px;
  background-size: cover;
  font-size: 4em;
  font-weight: normal;
  padding-top: 20px;
}
.profile-btn-controls{
  margin: auto;
  margin: 20px;

}

.profile-btn-controls-items{
  padding: 13px;
  box-shadow: 0 0 0 1px #2185d0 inset!important;
  border-radius: 30px;
  color: #000!important;
  font-size: 0.3em;
  background-color: aliceblue;
}
.btn{
  padding: 13px;

  border-radius: 30px;
}

.msg-container{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
